<!-- <a class="skip-link" href="#main-content">{{ i18n "skip-link" }}</a>

<b>{{ .Site.Title }}</b>
<br><i>Student Looking To Connect Red Teaming With Infrastructure</i>
<br>
<br> -->

<!-- <b><h1>[lukas@peters blog]$</h1></b> -->
<!-- <i>After all, We're all alike.</i> -->

<!-- <a href="{{ relURL .Site.Home.RelPermalink }}" class="title">{{ .Site.Title }}<br></a>Student Looking To Connect Red Teaming With Infrastructure<br><br> -->
<!-- <nav>{{- partial "nav.html" . -}}</nav> -->

<a class="skip-link" href="#main-content">{{ i18n "skip-link" }}</a>

<h1 class="terminal-prompt">
  [lukas@peters blog]$<span class="cursor"></span>
</h1>
<p class="tagline"><i>After all, We're all alike.</i></p>

<nav>{{- partial "nav.html" . -}}</nav>